
body{
font-family: 'Open Sans', sans-serif;
box-sizing:border-box;

}
/* width scroll bar*/

::-webkit-scrollbar {
    width: 12px;
	
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 1px;
	
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #777; 
    border-radius: 1px;
	height:2px;
	
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#444; 
	
}


.navbar-header-fixed{
	padding-top:10px;
	
    position: fixed;
    z-index: 100;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    border-color: transparent;
    background-color: rgba(0,0,0,.5);
	border-radius:0px;
	    /* border-bottom: 1px solid #007dc5; */
	/* box-shadow: 1px 1px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
}


.navbar-default .navbar-nav>li>a {
    color: #d1d1d1;
	font-weight:900;
	    padding-bottom: 4px;
		padding-left:3px;
		padding-right:3px;
		margin:0px 15px;
		left: 0;
		transition:.5s;
		letter-spacing: 1px;
		text-transform:uppercase;
	/*margin-left:0.5rem;
	margin-right:0.5rem;*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #06293e;
	border-bottom:3px solid red;
    /* background-color: rgba(107, 197, 201, .9); */
}

.admin-menu .navbar-default .navbar-nav>.active>a
{
	background-color: rgba(107, 197, 201, .9);
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-image: linear-gradient(to right, #4cd904 20%, #57f604 60%, #57f604 30%, #4cd904 80%);
    background-image: gradient(to right, #4cd904 20%, #57f604 60%, #57f604 30%, #4cd904 80%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border-bottom: 2px solid #57f604;
	
	
    /* background-color: rgba(107, 197, 201, .9); */
}

.btn-default.btn-on-1.active, .btn-default.btn-on-2.active{background-color: #5ebbc4;color: white;}

.logo{
margin-left:20px;

}
.navbar-brand > img{
display: inline-block;}
.navbar-brand{
font-size:35px;
font-weight:900;
}

header.masthead {
    position: relative;
    background-color: #e6e7e8;
	background:url(../images/bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
}


.brand-logo{
padding:0px;
}

.footer-container{
padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
	min-height: 100vh;
	    padding-bottom: 5rem;
	background-color:#333;

}


.form-control{
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #7a7a7a;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.video-container{
margin:0px;
padding:0px;
}

.top-nav-collapse {
    background-color: #563e91 !important;
}

.send-btn:hover{
	
	color:#7a7a7a;
	border: 2px solid #7a7a7a;
	box-shadow: 1px 1px 5px #7a7a7a;
}

.send-btn:focus{
	outline:none;
}
.send-btn {
   display: inline-block;
    padding: 12px 35px;
	padding-right:15px;
	padding-left:20px;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background-color:transparent;
    background-image: none;
    border: 2px solid #7a7a7a;
	color:#7a7a7a;
    border-radius: 5px;
}
.form-control:focus {
    border-color:  #7a7a7a;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 2px #7a7a7a, 0 0 8px #7a7a7a;
    box-shadow: inset 0 2px 2px #7a7a7a, 0 0 8px #7a7a7a;
}

.form-control::-webkit-input-placeholder { color: #c4c4c4; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #c4c4c4; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #c4c4c4; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #c4c4c4; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #c4c4c4; }  /* Microsoft Edge */

input:focus::-webkit-input-placeholder {
    font-size: .5em;
    position: relative;
    top: -15px; 
    transition: 0.2s ease-out;
	color:transparent;
}

input::-webkit-input-placeholder {
    transition: 0.2s ease-in;
	color:transparent;
}

textarea:focus::-webkit-input-placeholder {
    font-size: .5em;
    position: relative;
    top: -15px; 
    transition: 0.2s ease-out;
	color:transparent;
}

textarea::-webkit-input-placeholder {
    transition: 0.2s ease-in;
	color:transparent;
}

.social-logos{
    font-size: 85px;
    color: #f6f6f6;
	transition: .5s;
    padding-top: 25px;
    padding-bottom: 25px;
	text-shadow: 1px 1px 5px grey;
}
ul{
list-style-type:none;
}
.social-logos-list{
column-count: 2;
 list-style-type: none;
 text-align:center;
padding-top: 25px;
 
}
.social-logos:hover{
color:#7a7a7a;
text-shadow: 1px 1px 5px;
}
.tagline{
font-size: 7rem;
    color: #fff;
    font-weight: 900;
}
.footer-location{
text-align:center;
/* padding-left: 11rem; */
}

.footer-about{
text-align:center;
/* padding-left: 6rem; */
}
.footer-quick-links{
	text-align:center;
	/* padding-left: 13rem; */
}

.footer-headings{
font-size: 3rem;
    color: #fff;
    margin: 3rem 0rem 1rem 0rem;
}
ul{
padding-left:0px;
}

.quicklinks-li{
padding:8px 0px;
}



.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #fff;
}

.copyright{
font-size:12px;
text-align:center;
color:#aeaeae;
margin-top: 5rem;
}
.prabhu-img-home{
    width: 150px;
    height: 170px;
}	

.quicklinks-li a{
	color:#aeaeae;
	text-decoration:none;
}

.quicklinks-li a:hover{
    color: #fff;
    text-decoration: none;
}
 @media only screen and (max-width: 600px) {
	

	.footer-location{
text-align:center;
padding-left: 0px;

}

.footer-about{
text-align:center;
padding-left: 0px;

}

.footer-quick-links{
	
	padding-left: 0px;
}

} 

@media only screen and (max-width: 375px){

	.footer-location{
text-align:center;
padding-left: 0px;

}

.footer-about{
text-align:center;
padding-left: 0px;

}

.footer-quick-links{
	
	padding-left: 0px;
}
}

